.list_01 {
    display: block;
    width: 500px;
    border: solid navy;
    padding: 20px;
    background-color: rgb(214, 224, 255);
    margin: 40px;
    font-style: italic;
}

h1, p {
    color: navy;
}